* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
  font-size: 2vw;
}

:root {
  --customtheme: aqua;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-image: url(./assets/starfield.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr;
  min-height: 0;
  min-width: 0;
}

.theme {
  /*border-color: rgb(238, 238, 238);*/
  border-color: var(--customtheme);
  color: var(--customtheme);
}

.layout-container {
  grid-area: 2 / 1 / -2 / -1;
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  grid-template-columns: minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr);
  width: 100%;
  height: 100%;
}
header {
  grid-area: 1 / 1 / 1 / -1;
  border-bottom-width: 5px;
  border-bottom-style: outset;
}
.upgrades {
  grid-area: 1 / 1 / -3 / 2;
  border-width: 5px;
  border-style: outset;
  border-left: none;
  padding: 10px;
}

.research {
  grid-area: 3 / 1 / -1 / 2;
  border-width: 5px;
  border-style: outset;
  border-left: none;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  padding: 10px;
}
.shop {
  grid-area: 1 / -2 / -3 / -1;
  border-width: 5px;
  border-style: outset;
  border-right: none;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  padding: 10px;
}

.inventory {
  grid-area: 3 / -2 / -1 / -1;
  border-width: 5px;
  border-style: outset;
  border-right: none;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  padding: 10px;
}

.counter {
  grid-area: -2 / 2 / -1 / -2;
  border-width: 5px;
  border-style: outset;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
  padding: 10px;
}

.viewport {
  grid-area: 1 / 2 / -2 / -2;
  border-width: 5px;
  border-style: outset;
}
.asteroid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.asteroid > img {
  width: 50%;
}

.asteroid img:hover {
  cursor: pointer;
}

footer {
  grid-area: -2 / 1 / -1 / -1;
  border-top: 5px outset;
}

.totals {
  display: flex;
  flex-direction: column;
}
button {
  color: black;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  animation: shake 0.25s;
  animation-iteration-count: 1;
}

.research-title,
.upgrades-title,
.shop-title,
.inventory-title,
.counter-title {
  font-size: 5vw;
  text-align: center;
}

.player-name {
  font-size: 4vw;
  font-style: italic;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.currentcounter {
  font-size: 5vw;
}

.research-items,
.upgrade-items,
.shop-items,
.inventory-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 10px;
}

[shopitem] {
  font-size: 2vw;
  margin: 10px;
}
[shopitem][disabled] {
  background-color: blue;
}
[shopitem]:not([disabled]) {
  background-color: yellow;
  cursor: pointer;
}

[upgradeitem] {
  font-size: 2vw;
  margin: 10px;
}
[upgradeitem][disabled]:not([complete]) {
  background-color: blue;
}
[upgradeitem]:not([disabled]):not([complete]) {
  background-color: yellow;
  cursor: pointer;
}
[upgradeitem][complete] {
  cursor: not-allowed;
  background-color: green;
}

[disabled] {
  cursor: not-allowed;
}

[researchitem] {
  font-size: 2vw;

  margin: 10px;
}

[inventoryitem] {
  font-size: 2vw;

  margin: 10px;
  background-color: green;
}

[researchitem][complete] {
  cursor: not-allowed;
  background-color: green;
}

[researchitem][disabled]:not([complete]) {
  background-color: blue;
}
[researchitem]:not([disabled]):not([complete]) {
  background-color: yellow;
  cursor: pointer;
}
.flex-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.header-flex,
.footer-flex {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.upgrades-flex,
.research-flex,
.shop-flex,
.inven-flex,
.totals-flex {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.totals-flex {
  align-items: center;
}

.themebutton {
  cursor: pointer;
  font-size: 2vw;
}
.theme-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 3vw;
}

.theme-container:hover .theme-menu {
  display: flex;
  flex-direction: column;
}

.theme-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.theme-menu div {
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 2px solid transparent;
}

.theme-menu div:hover {
  border: 2px solid white;
}

h1 {
  font-size: 4vw;
  margin: 1vw;
}
