* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
}

:root {
  --customtheme: aqua;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-image: url(./assets/starfield.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-rows: 2fr 8fr 1fr;
  grid-template-columns: 1fr;
}

.theme {
  /*border-color: rgb(238, 238, 238);*/
  border-color: var(--customtheme);
}

.layout-container {
  grid-area: 2 / 1 / -2 / -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 3fr 2fr;
  width: 100%;
  height: 100%;
}
header {
  grid-area: 1 / 1 / 1 / -1;
  border-bottom-width: 5px;
  border-bottom-style: outset;
}
.upgrades {
  grid-area: 1 / 1 / -3 / 2;
  border-width: 5px;
  border-style: outset;
  border-left: none;
}

.research {
  grid-area: 3 / 1 / -1 / 2;
  border-width: 5px;
  border-style: outset;
  border-left: none;
}
.shop {
  grid-area: 1 / -2 / -3 / -1;
  border-width: 5px;
  border-style: outset;
  border-right: none;
}

.inventory {
  grid-area: 3 / -2 / -1 / -1;
  border-width: 5px;
  border-style: outset;
  border-right: none;
}

.counter {
  grid-area: -2 / 2 / -1 / -2;
  border-width: 5px;
  border-style: outset;
}

.viewport {
  grid-area: 1 / 2 / -2 / -2;
  border-width: 5px;
  border-style: outset;
}
.asteroid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.asteroid > img {
  width: 50%;
}

.asteroid img:hover {
  cursor: pointer;
}

footer {
  grid-area: -2 / 1 / -1 / -1;
  border-top: 5px outset;
}

.totals {
  display: flex;
  flex-direction: column;
}
button {
  color: black;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  animation: shake 0.25s;
  animation-iteration-count: 1;
}

.currentcounter {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.research-title,
.upgrades-title {
  font-size: 5vw;
  text-align: center;
}

.research-items,
.upgrade-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

[researchitem] {
  font-size: 2vw;
  margin: 1vw;
}
[researchitem][state="hidden"] {
  visibility: hidden;
}
[researchitem][state="active"][disabled] {
  visibility: visible;
  background-color: blue;
}
[researchitem][state="active"]:not([disabled]) {
  visibility: visible;
  background-color: yellow;
  cursor: pointer;
}
[upgradeitem] {
  font-size: 2vw;
  margin: 1vw;
}
[upgradeitem][state="hidden"] {
  visibility: hidden;
}
[upgradeitem][state="active"][disabled] {
  visibility: visible;
  background-color: blue;
}
[upgradeitem][state="active"]:not([disabled]) {
  visibility: visible;
  background-color: yellow;
  cursor: pointer;
}
[upgradeitem][state="completed"] {
  cursor: not-allowed;
  visibility: visible;
  background-color: green;
}

[disabled] {
  cursor: not-allowed;
}
[researchitem][state="completed"] {
  cursor: not-allowed;
  visibility: visible;
  background-color: green;
}
